<% if admin_signed_in? %>
  <li class="nav-item">
    <%= link_to 'Reservas', index_admin_room_reservations_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Estadias Ativas', actives_room_reservations_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= button_to 'Sair', destroy_admin_session_path, method: :delete, class: "btn btn-danger" %>
  </li>
  <li>
    <%= link_to 'Avaliações', index_admin_ratings_path, class: "nav-link" %>
  </li>
<% end %>
<% if user_signed_in? %>
  <li class="nav-item">
    <%= link_to 'Minhas Reservas', room_reservations_path, class: "nav-link" %>
  </li>
<% end %>
