<h2><%= @inn.brand_name %></h2>
<h3><%= @inn.full_description if @inn.admin == current_admin %></h3>

<div>
  <dl>
    <dt>Bairro:</dt>
    <dd><%= @inn.neighborhood %></dd>
  </dl>
  <p><%= @inn.address %>, <%= @inn.city %>, CEP <%= @inn.zip_code %> - <%= @inn.state %></p>
</div>
<div>
  <p><%= @inn.description %></p>
  <dl>
    <dt><%= Inn.human_attribute_name('usage_policies') %></dt>
    <dd><%= @inn.usage_policies %></dd>
    <dt><%= Inn.human_attribute_name('payment_methods') %>:</dt>
    <dd><%= @inn.payment_methods %></dd>
    <dt><%= Inn.human_attribute_name('check_in') %>:</dt>
    <dd><%= @inn.check_in.strftime('%H:%M') %></dd>
    <dt><%= Inn.human_attribute_name('check_out') %>:</dt>
    <dd><%= @inn.check_out.strftime('%H:%M') %></dd>
    <dt><%= Inn.human_attribute_name('accepts_pets') %>:</dt>
    <dd><%= Inn.human_attribute_name("accepts_pets_#{@inn.accepts_pets?}") %></dd>
  </dl>
</div>

<div>
  <dt><%= Inn.human_attribute_name('email') %>:</dt>
  <dd><%= @inn.email %></dd>
  <dt><%= Inn.human_attribute_name('phone') %>:</dt>
  <dd><%= @inn.phone %></dd>
</div>

<h3>Quartos da <%= @inn.brand_name %></h3>

<%= render 'rooms/room' %>
