<h1><%= @room.title %></h1>


<p><%= @room.description %></p>

<ul>
<li><strong>Área do Quarto:</strong> <%= @room.dimension %>m²</li>
<li><strong>Capacidade Máxima:</strong> <%= @room.max_occupancy %> pessoas</li>
<li><strong>Diária Padrão:</strong> <%= number_to_currency(@room.daily_rate, unit: 'R$', separator: ',', delimiter: '.') %></li>
<li><%= Room.human_attribute_name('private_bathroom') unless @room.private_bathroom == false %></li>
<li><%= Room.human_attribute_name('balcony') unless @room.balcony == false %></li>
<li><%= Room.human_attribute_name('air_conditioning') unless @room.air_conditioning == false  %></li>
<li><%= Room.human_attribute_name('tv') unless @room.tv == false  %></li>
<li><%= Room.human_attribute_name('wardrobe') unless @room.wardrobe == false %></li>
<li><%= Room.human_attribute_name('safe_available') unless @room.safe_available == false %></li>
<li><%= Room.human_attribute_name('accessible_for_disabled') unless @room.accessible_for_disabled == false   %></li>
</ul>

<p><%= t(@room.for_reservations) %> para reservas</p>

<% if @room.inn.admin == current_admin %>
  <%= link_to 'Editar', edit_inn_room_path(inn_id: @room.inn.id) %>

  <div>
    <% if @room.unavailable? %>
      <%= button_to 'Habilitar reserva', available_inn_room_path(inn_id: @room.inn.id , id: @room.id) %>
      <p>Quarto indisponível para nova reserva</p>
    <% else %>
      <p>Quarto disponível para nova reserva</p>
      <%= button_to 'Desabilitar reserva', unavailable_inn_room_path(inn_id: @room.inn.id, id: @room.id) %>
    <% end %>
  </div>
<% end %>
