<h1><%= @room.title %></h1>


<p><%= @room.description %></p>

<ul>
  <li><strong>Área do Quarto:</strong> <%= @room.dimension %>m²</li>
  <li><strong>Capacidade Máxima:</strong> <%= @room.max_occupancy %> pessoas</li>
  <li><strong>Diária Padrão:</strong> R$ <%= @room.daily_rate %>,00</li>
  <li><%= Room.human_attribute_name('private_bathroom') if @room.private_bathroom? %></li>
  <li><%= Room.human_attribute_name('balcony') if @room.balcony? %></li>
  <li><%= Room.human_attribute_name('air_conditioning') if @room.air_conditioning?  %></li>
  <li><%= Room.human_attribute_name('tv') if @room.tv?  %></li>
  <li><%= Room.human_attribute_name('wardrobe') if @room.wardrobe? %></li>
  <li><%= Room.human_attribute_name('safe_available') if @room.safe_available? %></li>
  <li><%= Room.human_attribute_name('accessible_for_disabled') if @room.accessible_for_disabled?%></li>
</ul>

<p><%= t(@room.for_reservations) %> para reservas</p>
<% if @inn.admin == current_admin %>
  <%= render partial: 'rooms/price_customization', locals: { room: @room } %>
<% end %>

<% if @room.inn.admin == current_admin %>
  <%= link_to 'Editar', edit_inn_room_path(inn_id: @room.inn.id) %>

  <div>
    <% if @room.unavailable? %>
      <%= button_to 'Habilitar reserva', available_inn_room_path(inn_id: @room.inn.id , id: @room.id) %>
      <p>Quarto indisponível para nova reserva</p>
    <% else %>
      <p>Quarto disponível para nova reserva</p>
      <%= button_to 'Desabilitar reserva', unavailable_inn_room_path(inn_id: @room.inn.id, id: @room.id) %>
    <% end %>
  </div>

  <div>
    <h3><%= PriceCustomization.model_name.human(count: @room.price_customizations.count) %></h3>
    <% @price_customizations.each do |price_customization| %>
      <div>
        <%= link_to edit_inn_room_price_customization_path(inn_id: @room.inn.id,
                                                          room_id: @room.id,
                                                          id: price_customization.id) do %>
          <p>
            <%= price_customization.season_name %>
          </p>
        <% end %>
        <p>
          De <%= l(price_customization.start_date) %> a <%= l(price_customization.end_date) %>,
          a partir de <%= price_customization.daily_rate %>
        </p>
      </div>
    <% end %>
    <%= link_to 'Adicionar personalização preço', new_inn_room_price_customization_path(inn_id: @room.inn.id , room_id: @room.id) %>
  </div>
<% end %>
