<h1>Informações Sobre Sua Reserva</h1>

<h4>Preço total de diárias: <%= @total_daily_rates %></h4>

<% if user_signed_in? %>
  <%= render partial: 'room_reservation', locals: { check_in: Date.parse(@check_in),
                                                    check_out: Date.parse(@check_out),
                                                    number_of_guests: @number_of_guests } %>
<% end %>
<%= form_with(model: [@room, @room_reservation]) do |f| %>
  <%= f.hidden_field :check_in, value: @check_in %>
  <%= f.hidden_field :check_out, value: @check_out %>
  <%= f.hidden_field :number_of_guests, value: @number_of_guests %>
  <%= f.submit 'Confirmar Reserva' %>
<% end %>

<p>caso saia as informações serão perdidas</p>
