<h1>Informações Sobre Sua Reserva</h1>

<h4>Preço total de diárias: <%= @total_daily_rates %></h4>

<% if user_signed_in? %>
  <h5><%= @room.inn.brand_name %></h5>
  <h6><%= @room.title %></h6>
  <p>
    <%= RoomReservation.human_attribute_name('check_in') %>: <%= l(Date.parse(@check_in)) %> <%= @room.inn.check_in.strftime('%H:%M') %>
  </p>
  <p>
    <%= RoomReservation.human_attribute_name('check_out') %>: <%= l(Date.parse(@check_out)) %> <%= @room.inn.check_out.strftime('%H:%M') %>
  </p>
  <p><%= RoomReservation.human_attribute_name('number_of_guests') %>: <%= @number_of_guests %></p>
<% end %>
<%= form_with(model: [@room, @room_reservation]) do |f| %>
  <%= f.hidden_field :check_in, value: @check_in %>
  <%= f.hidden_field :check_out, value: @check_out %>
  <%= f.hidden_field :number_of_guests, value: @number_of_guests %>
  <%= f.submit 'Confirmar Reserva' %>
<% end %>

<p>caso saia as informações serão perdidas</p>
