<h1>Reserva: <%= @room_reservation.code %></h1>

<%= render partial: 'room_reservation', locals: { check_in: @room_reservation.check_in, 
	                                                check_out: @room_reservation.check_out,
	                                                number_of_guests: @room_reservation.number_of_guests } %>
<p>Total: <%= @room_reservation.total_daily_rates %></p>

<% if @room_reservation.pending? && !@room_reservation.less_than_7_days_to_check_in? %>
  <%= button_to 'Cancelar', cancel_room_reservation_path(@room_reservation.id) %>
<% end %>

<% if @room_reservation.closed? && @rating.nil? %>

  <h2>Avalie sua estadia</h2>

  <%= form_with(model: [@room_reservation, @rating]) do |f| %>
    <div>
      <%= f.label :grade %>
      <%= f.select(:grade, [1, 2, 3, 4, 5]) %>
    </div>
    <div>
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>

    <%= f.submit 'Enviar' %>
  <% end %>
<% end %>


<%= link_to 'Sua avaliação', rating_path(@room_reservation.id) if @rating.present? %>
