<!DOCTYPE html>
<html>
  <head>
    <title>Guesthouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-xxl navbar-dark bg-dark" aria-label="Seventh navbar example">
      <div class="container-fluid">
        <%= link_to 'Guesthouse', root_path, class: "navbar-brand" %>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExampleXxl" aria-controls="navbarExampleXxl" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarExampleXxl" style="">
          <ul class="navbar-nav me-auto mb-2 mb-xl-0">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: "nav-link active", 'aria-current': "page" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Quartos Disponíveis', rooms_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Busca Avançada', advanced_searches_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= dynamic_link_inn %>
            </li>
            <%= render 'layouts/shared/for_users' %>
          </ul>

          <%= form_with(url: search_inns_path, method: :get, class: "d-flex") do |f| %>
            <%= f.label :query, 'Buscar por pousada', class: "visually-hidden" %>
            <%= f.text_field :query, class: "form-control me-2", placeholder: "Buscar por pousada", 'aria-label': "Buscar" %>
            <%= f.submit 'Buscar', class: "btn btn-outline-success" %>
          <% end %>
        </div>
      </div>
    </nav>
    <div>
    <div class="container mt-4">
      <% if notice %>
        <p class="notice alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
