<!DOCTYPE html>
<html>
  <head>
    <title>Guesthouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to 'Home', root_path, class: "navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to 'Quartos Disponíveis', rooms_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Busca Avançada', advanced_searches_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= dynamic_link_inn %>
            </li>
            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= button_to 'Sair', destroy_admin_session_path, method: :delete, class: "btn btn-danger" %>
              </li>
            <% end %>
            <% if user_signed_in? %>
              <%= link_to 'Minhas Reservas', room_reservations_path %>
            <% end %>
          </ul>
        </div>
      </div>
      <%= form_with(url: search_inns_path, method: :get) do |f| %>
        <%= f.label :query, 'Buscar por pousadas' %>
        <%= f.text_field :query %>
        <%= f.submit 'Buscar' %>
      <% end %>
    </nav>
    <div>
    <div class="container mt-4">
      <% if notice %>
        <p class="notice alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
